.header {
  text-align: center;
  color: #fff;
  display: flex;
  justify-content: space-between;
  height: 5rem;
  width: 100%;
}
.search{
  width: 40rem;
  height: 3rem;
  border: 1px solid white;
  margin-top: 1rem;
  border-radius: 90px;
  background-color: transparent;
  padding-left: 2rem;
  font-size: large;
  color: #FFFFFF;
}
.search-page-container{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 1rem;
  padding: 1rem;
}
.login-signup{
  
  margin: 1.5rem 1.5rem 1rem 0;
  color: #FFFFFF;
}
.title{
  /* width: 8rem; */
  margin: 1.5rem -2rem 1rem .9rem;
  color: #C4B4F8;
  font-size: 1.5rem;
  font-weight: 600;
}
.land{
  width: 100%;
  height: 24rem;
}
.banner{
  width: 100%;
  height: 24rem;
  color: #fff;
  position: relative;
  margin-bottom: 1rem;
}
.sticky-banner{
  width: 100%;
  height: 12rem;
  color: #fff;
  position: relative;
  margin-bottom: 1rem;
}
.banner-img{
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: .50;
}
.sticky-banner-img{
  width: 100%;
  height: 12rem;
  opacity: .50;
  position: sticky;
  top: 0rem;
}

.banner-details{
  top: 12rem;
  left: 3rem;
  position: absolute;
  width: 22rem;
  
}
.sticky-banner-details{
  top: 5rem;
  left: 3rem;
  position: absolute;
  width: 22rem;
}
.sticky-banner-title{
  display: flex;
  flex-wrap: wrap;
  width: 30rem;
  font-size: 2em;
  font-weight: 700;
}
.sticky-video-details{
  display: flex;
  justify-content: space-between;
  width: 18rem;
}
.sticky-pub-img{
  width: 2rem;
  position: absolute;
  border-radius: 90px;
  top: 3.5rem;
  left: 68rem;
  display: inline;
}
.sticky-pub-name{
  left: 64rem;
  top: 2rem;
  position: absolute;
}
.banner-title{
  display: flex;
  flex-wrap: wrap;
  width: 30rem;
  font-size: 2em;
  font-weight: 700;
}
.video-details{
  display: flex;
  justify-content: space-between;
  width: 18rem;
}
.pub-img{
  width: 2rem;
  border-radius: 90px;
  margin-top: 1rem;
  display: inline;
}
.pub-name{
  margin-left: 3rem;
  margin-top: -1.8rem;
}
.card-div{
  display: flex;
  flex-wrap: wrap;
  margin-left: 2rem;
  margin-top: 4rem;
}
.action{
  color: rgba(255, 255, 255, 1);
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: space-between;
}
.view-more{
  margin-right: 1rem;
}
.recent{
  margin-left: 1rem;
}
.card{
  width: 17rem;
  height: 11rem;
  color: #FFFFFF;
  margin: 0 0 2rem 1rem;
  position: relative;
}
.play-div{
  position: absolute;
  left: 15rem;
  top: 1rem;
  border-radius: 90px;
  width: 1.5rem;
  height: 1.5rem;
  text-align: center;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  opacity: 0.35;
}
.play-button{
  position: absolute;
  left: 15.4rem;
  top: .9rem;
  color: #FFFFFF ;
  font-size: large;
  /* background: rgba(255, 255, 255, 1) 0% 0% no-repeat padding-box; */
}
.card-img{
  width: 100%;
  height: 100%;
  opacity: .60;
  border-radius: 10px;
}
.card-title{
  position: absolute;
  top: 8rem;
  left: 1rem;
  font-weight: 600;
}
.card-date{
  position: absolute;
  top: 9.2rem;
  left: 1rem;
  font-size: .6rem;
}
.card-duration{
  position: absolute;
  top: 9.2rem;
  left: 5.2rem;
  font-size: .6rem;
}
.card-views{
  position: absolute;
  top: 9.2rem;
  left: 8.2rem;
  font-size: .6rem;
}
.card-pub-img{
  position: absolute;
  top: 8.3rem;
  left: 14rem;
  width: 2rem;
  border-radius: 90px;
}
.player-pub-img{
  margin-right: .5rem;
  margin-top: 1.4rem;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 100px;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.my-videos-container{
  display: flex;
  width: 100%;
}
.my-videos-left{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    border-right: 1px solid white;
}
.my-videos-left > .card{
  margin: 1.2rem;
  border-radius: 10%;
}
.my-videos-right{
  width: 50%;
  position: sticky;
  top: 0rem;
  height: 100%;
}
.my-video-banner{
  width: 100%;
  height: 16rem;
  opacity: .50;
}
.my-videos-details{
  display: flex;
  color: white;
  justify-content: space-between;
  box-shadow: 0px 3px 0px #555;
}
.my-videos-title{
  margin-left: 1rem;
  width: 45%;
}
.my-video-additional{
  display: flex;
  width: 55%;
  justify-content: space-between;
  margin-top: 1.5rem;
  margin-right: .8rem;
  opacity: .7;
}
.description{
  width: 100%;
  padding: 1rem;
  box-shadow: 0px 3px 0px #555;
  opacity: .7;
}
.left-info{
  /* style={{width:"100%", color:"white", display:"flex", justifyContent:"space-between"}} */
  display: flex;
  justify-content: space-between;
  width: 100%;
  color: #fff;
  opacity: .7;
}

.options{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  color: #fff;
  margin-bottom: 1rem;
  padding: 1rem;
  box-shadow: 0px 3px 0px #555;
}
#category{
  display: block;
  background-color: transparent;
  color: #fff;
  border: none;
  font-size: 1rem;
  margin-top: .5rem;
  margin-left: -.3rem;
  border: none;
  outline: none;
}
#visibility{
  display: block;
  background-color: transparent;
  color: #fff;
  border: none;
  font-size: 1rem;
  margin-top: .5rem;
  margin-left: -.3rem;
  border: none;
  outline: none;
}
#other{
  display: block;
  background-color: transparent;
  color: #fff;
  border: none;
  font-size: 1rem;
  margin-top: .5rem;
  margin-left: -.3rem;
  border: none;
  outline: none;
}
.label{
  font-size: .8rem;
  opacity: 0.7;
}
select option {
  margin: 40px;
  background: #000000;
  color: #fff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}
.btn-container{
  display: flex;
  justify-content: space-evenly;
  padding: 2rem 0 1rem 0;
}
.my-video-btn{
  width: 12rem;
  height: 3rem;
  border-radius: 90px;
  background-color: #F43D3D;
  color: white;
  font-size: 1rem;
  font-weight: 600;
  border: none;
}
.btn-purple{
  background-color: #C4B4F8;
}
.card:hover{
  border: 1px solid white;
  border-radius: 10px;
}
#upload-container{
  width: 100%;
  height: 35rem;
  background: transparent;
  position: fixed;
  top: 0rem;
}
.upload{
  width: 50%;
  height: 32rem;
  border: 1px solid white;
  border-radius: 10px;
  margin: auto;
  margin-top: 1%;
  background-color: #000000;
  padding: .2rem 2rem 1rem 2rem;
  color: #fff;
}
.cancel{
  margin-left: 100%;
  display: inline;
}
h4{
  display: inline;
  
}
.upload > .btn-purple {
  margin: 1.5rem 35% 1rem 35%
}
.browse-file{
  width: 100%;
  height: 10rem;
  border: 1px solid #FFFFFF;
  border-radius: 10px;
  background: #4B4B5F 0% 0% no-repeat padding-box;
  margin-top: 1rem;
  text-align: center;
}
.browse-file > p {
  margin: 0;
}
.upload-icon{
  font-size: 5rem;
}
textarea{
  background-color: #000000;
  display: block;
  margin-top: .5rem;
  width: 90%;
  height: 5rem;
  border: none;
  color: #fff;
  resize: none;
  font-size: 1rem;
  box-shadow: 0px 1px 0px #555;
}
textarea:focus{
  border: none;
  outline: none;
}
::placeholder {
  color: #fff;
}
.upload-select{
  width: 90%;
  margin-top: .5rem;
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 1px 0px #555;
  padding-bottom: .6rem;
}
.upload-name{
  margin-top: 1.5rem;
  background-color: transparent;
  border: none;
  height: 2rem;
  font-size: 1.5rem;
  color: #FFFFFF;
  width: 90%;
}
input[type=text], input[type="password"], input[type="email"], input[type="tel"]:focus {
  border: none;
  outline: none;
}
.progress-bar{
  position: relative;
  width: 90%;
  height: 1rem;
  background-color: #f1dddd;
  border-radius: 15px;
  overflow: hidden;
}
.progress-bar-fill{
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: greenyellow;
}
.video-player{
  width: 100%;
  color: #FFFFFF;
  display: flex;
}
.player{
  width: 75%;
  align-self: flex-start;
  position: sticky;
  top: 0rem;
  display: inline;
  padding: 1rem;
}
.suggestion{
  width: 25%;
  display: inline flex;
  flex-wrap: wrap;
  padding: 1rem 0 0 0rem;
}
.video-img{
  width: 100%;
  height: 24rem;
  margin: auto;
  border-radius: 10px;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.sign-in-page{
  display: flex;
  width: 100%;
  color: white;
}
.left{
  width: 60%;
  position: relative;
}
.left-img{
  width: 100%;
  height: 38rem;
  opacity: .55;
  position: absolute;
}
.sign-title{
  position: absolute;
  color: #C4B4F8;
  top: 12rem;
  left: 3rem;
  font-size: 4rem;
}
.sign-description{
  position: absolute;
  color: #FFFFFF;
  top: 19rem;
  left: 3rem;
  font-size: 2rem;
  width: 20rem;
}
.right{
  width: 40%;
  height: 38rem;
  text-align: center;
}
.center {
  margin-left: auto;
  margin-right: auto;
  margin-top: 35%;
  /* width: 40%; */
}
.center-signup {
  margin-left: auto;
  margin-right: auto;
}
.sign-email{
  background-color: transparent;
  border: none;
  width: 15rem;
  display: block;
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
  height: 3rem;
  color: #FFFFFF
}
.sign-password{
  background-color: transparent;
  border: none;
  width: 15rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 3rem;
  color: #FFFFFF
}
input{
  box-shadow: 0px 1px 0px #555;
}
.sign-btn{
  width: 8rem;
  height: 2.5rem;
  border-radius: 90px;
  border: none;
  background: #C4B4F8 0% 0% no-repeat padding-box;
  color: #FFFFFF;
  margin-top: 2rem;
}
.signup-name{
  background-color: transparent;
  border: none;
  width: 15rem;
  display: block;
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
  height: 2rem;
  color: #FFFFFF;
}
.signup-email {
  background-color: transparent;
  border: none;
  width: 15rem;
  display: block;
  margin-top: 1.5rem;
  margin-left: auto;
  margin-right: auto;
  height: 2rem;
  color: #FFFFFF
}
.signin-link{
  position: absolute;
  color: #C4B4F8;
  top: 32rem;
  left: 3rem;
  font-size: 1rem;
  width: 20rem;
  text-decoration: none;
}
.signup-btn{
  width: 8rem;
  font-size: 1.3rem;
  height: 2.5rem;
  border-radius: 90px;
  border: none;
  background: #C4B4F8 0% 0% no-repeat padding-box;
  color: #FFFFFF;
  margin-top: 2rem;
  margin-left: 5rem;
}
.Link{
  text-decoration: none;
  color: #fff;
}
input[type=file]{
 display: none;
}
.signup-img{
  font-size: 3rem;
  width: 2rem;
  height: 2rem;
  border-radius: 100%;
  
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
